body {
    background-color: rgb(250, 246, 246);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #636161;
}

/* ヘッダー */
header {
    color: #7d7d7d;
    text-align: center;
    padding: 20px 0;  
}


.img{
    text-align:center;
}

/* リンクのアンダーバーを消す */
a { color:#eb984c; text-decoration:none; }

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    width: 30%;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: translateY(-5px);
}

/* .project h2 {
    font-size: 1.5em;
    margin: 10px 0;
} */

.project p {
    font-size: 1em;
    margin: 0;
}

footer {
    text-align: center;
    padding: 10px 0;
}

.project-detail{
    text-align:center;
}

/* 隣の画像との間の余白 */
.yohaku{
    margin:30px;
}
